/* General settings */
* {
	/* Fixing the box-sizing issue */
	/* Explanation: https://www.w3schools.com/css/css3_box-sizing.asp */
	box-sizing: border-box;

	/* Setting all default margin and padding to 0, because elements have pretty arbitary initial settings */
	margin: 0;
	padding: 0;

	/* Smooth scrolliing when anchor links pressed */
	scroll-behavior: smooth;
    font-family: VG5000;
    letter-spacing: 0.5px;
    font-size: 18px;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus
{
    border:none;
    outline:none;
}



/* Font faces */
@font-face {
    font-family: abordage;
    src: url(fonts/Abordage-Regular.otf);
}
@font-face {
    font-family: avara;
    src: url(fonts/Avara-Bold.otf);
}
@font-face {
    font-family: avara;
    src: url(fonts/Avara-Black.otf);
    font-weight: bold;
}
@font-face {
    font-family: avara;
    src: url(fonts/Avara-BoldItalic.otf);
    font-style: italic, oblique;
}
@font-face {
    font-family: zara-regular;
    src: url(fonts/zara-regular.otf);
}
@font-face {
    font-family: zara-oblique;
    src: url(fonts/zara-oblique.otf);
}
@font-face {
    font-family: louise;
    src: url(fonts/louise-regular.otf);
}
@font-face {
    font-family: VG5000;
    src: url(fonts/VG5000-Regular.otf);
}
/* variable fonts */
@font-face {
    font-family: "Interstellar Medium";
    src: url(fonts/InterstellarMediumVF.ttf); /* variable axis: "STAR", 0-100 */
}
@font-face {
    font-family: mimoid;
    src: url(fonts/MimoidVF.ttf); /* variable axis: "wght", -100-100 */
}
@font-face {
    font-family: Lineal;
    src: url(fonts/LinealVF.ttf); /* variable axis: "wght", 0-1500 */
}
@font-face {
    font-family: Sligoil;
    src: url(fonts/SligoilVF.ttf); /* variable axis: "wght", 90-120 */
}
@font-face {
    font-family: SCBitMap;
    src: url(fonts/NISC18030.ttf);
}



/* Titles */
h1 {
    font-family: mimoid;
    font-size: 64px;
    font-variation-settings: "wght" 100;
}
h2 {
    font-size: 32px;
    font-family: mimoid;
    font-variation-settings: "wght" 100;
}
.blue-text {
    color:#3456ff;
}


a:link {
    color: #ce34ae;
}
a:hover{
    color:#4a831b;
}
a:active{
    color:#3456ff;
}
a:visited{
    color:#ce34ae;
}

.contacts-links:link {
    color: #4a831b;
}
.contacts-links:hover{
    color:#ce34ae;
}
.contacts-links:active{
    color:#3456ff;
}
.contacts-links:visited{
    color:#4a831b;
}
.contact-icons{
    fill:#4a831b;
    width:14px;
    vertical-align: -10%;
}

ul {
    padding-inline-start: 20px;
}



:root{
    --landing-padding: 50px;
}

/* flex wrapper for contact card */
.flex-wrapper {
    display: flex;
    flex-flow:row wrap; 
    align-items: stretch; 
    justify-content: space-around;
    gap: 40px;
    margin:var(--landing-padding);
}
.flex-children {
    align-self: center;
    display: inline-block;
    font-size: 16px;
    flex: 1;
}



/* Landing page */
.site-title {
    font-size: 12vw;
    color: #3b6f10;
    font-family: "Interstellar Medium";
    font-variation-settings: "STAR" 100;
}
.dj-tag {
    text-align: center; 
    position: sticky;
    font-size: 2px; 
    color:#8085c0;
    top: calc(100vh - 24px);
    margin: 14px 14px 0px 0px;
}
.info-box-wrapper {
    padding-top: 0;
    padding-bottom: calc(var(--landing-padding)*0.75);
    padding-left: var(--landing-padding);
    padding-right: var(--landing-padding);
}


/* adjustments for small screens */
@media only screen and (max-width: 520px){
    .flex-children {
        text-align: center;
    }
}